RewriteEngine on

RewriteCond %{HTTP_HOST} ^localhost/py_allpublicidad/

RewriteRule (.*) http://localhost/py_allpublicidad/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php/$1 [L]



<IfModule mod_rewrite.c>

	IndexIgnore *.zip *.txt *.sql *.mwb *.py *.cmd *.sh *.crx *.json *.md *.lock *.rst *.rar *.bak

</IfModule>



<IfModule mod_rewrite.c>

    Options -Indexes

</IfModule>





